.button {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
    outline: none;
    border: none;
    outline: none;
    border: none;
    cursor: hand;
    cursor: pointer;
    background: none;

    &:focus, &:active {
        outline: none;
    }
}
