.list {
    font-size: 0;
}

.list, .list__item {

    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -mz-appearance: none;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.list--horizontal .list__item {
    display: inline-block;
}
