.logo {
    display: inline-block;
    height: 2.7rem;
}

.logo__image {
    display: inline-block;
    height: 100%;
}

@include break-regular {
    .logo {
        height: 100%;
        padding: 2.3rem;
        padding-bottom: 1rem;
    }

    .logo__image {
        height: 3.4rem;
    }
}

@include break-wide {
    .logo__image {
        height: 5.4rem;
    }
}
