.article-content-header {
    width: 100%;
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 960px;
}

.article-content-header__date {
    font-size: 2.1rem;
    margin-bottom: 0.2rem;
}

.article-content-header__share {
    display: block;
    font-size: 1.3rem;
    margin: 0.6rem;
    margin-top: 1rem;
}
