.action-bar {
	position: absolute;

	right: 0;
	bottom: 0;

	height: $navbar-height;
	padding: $navbar-spacing;
	
	display: flex;
	align-items: center;
}

.action-bar__button-trailer {
	transition: opacity 0.3s ease-out;
	opacity: 0;
	visibility: hidden;
}

.action-bar.is-fixed {
	position: fixed;
	top: 0;
	bottom: auto;
	z-index: 1;
	
	.action-bar__button-trailer {
		opacity: 1;
		visibility: visible;
	}
}

.action-bar__button-trailer {
	position: static;

	margin-right: 1.25rem;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}


.action-bar.is-fixed {
	.button-watch-trailer {
		display: none;
	}
}