.background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
}

.background {
	canvas {
		position: absolute;
		width: 100%;
		height: auto;
		left: 0;
		top: 0;
	}	

	video {
		opacity: 0;
		position: absolute;
		width: 1px;
		height: 1px;
		top: 0;
		left: 0;
	}

	canvas {
		height: 100%;
		opacity: 0;
	}
}
