.button-trailer {
	font-size: 1.2rem;
	padding: 0.7rem 1rem;
	border: 1.7px solid $color-text-light;
	color: $color-text-light;
	text-decoration: none;
	display: inline-block;
}

.button-trailer--small {
	width: 2rem;
	height: 2rem;
	padding: 0;
	@include v-align;
}

.button-trailer .icon-play {
	fill: $color-text-light;
	display: inline-block;
	font-size: 0.8rem;	
}

.main-button-trailer {
	position: absolute;
	bottom: $navbar-spacing;
	left: $navbar-spacing;
	z-index: 1;
	display: none;
}

