.button-trailer {
	height: 2rem;
	line-height: 2rem;
	padding: 0 0.5rem;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.main-button-trailer {
	position: absolute;
	bottom: $navbar-spacing;
	left: $navbar-spacing;
}

@include break-narrow {
	.main-button-trailer {
		right: $navbar-spacing;
		top: $navbar-spacing;
		left: auto;
		bottom: auto;
	}
}