.carousel {
	.carousel__slides {
		position: relative;
		width: 100%;
		white-space: nowrap;
	}

	.carousel__slide {
		width: 100%;
		display: inline-block;

		img {
			width: 100%;
		}
	}

	.carousel__prev {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		width: 3rem;
		background-color: rgba(white, 0.3);

		transform-origin: top left;

		//defaults
		transform: scaleX(0);
		opacity: 0;
		visibility: hidden;
	}

	.carousel__next {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		width: 3rem;
		background-color: rgba(white, 0.3);

		transform-origin: top right;
		

		//defaults
		transform: scaleX(0);
		opacity: 0;
		visibility: hidden;
	}
}


.carousel--wide .carousel__slides-wrapper {
	position: relative;
	overflow: hidden;
}

.carousel--wide .carousel__slides {
	position: relative;
}

.carousel--wide .carousel__slide {
	height: 100vh;
	width: 100%;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}