.content-component-text {
    width: 100%;
    margin: 4rem auto;
    padding: 0 2rem;
    max-width: 96rem;
    font-size: 2rem;
    line-height: 1.35em;
}

.content-component-image,
.content-component-gif {
    display: block;
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
}

.content-component-double-images {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
    font-size: 0;

    img {
        vertical-align: top;
        width: calc(50% - 3.2rem);

        &:first-child {
            margin-right: 6.4rem;
        }
    }
}

.content-component-masonry {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
}

.content-component-video {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
}

.content-component-video__content {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.content-component-video__video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

[class^=content-component] {
    margin-bottom: 3rem;
}


@include break-wide {

    [class^=content-component] {
        margin-bottom: 5rem;
    }

}
