.main-navigation {
    // background-color: black;
    padding: 1.6rem 1.6rem;
    font-size: 0;
    position: relative;
    z-index: $z-index-initial;

    .button-menu {
        position: absolute;
        right: 1.6rem;
        top: 1.6rem;
    }

}

@include break-regular {
    .main-navigation {
        padding: 1.6rem 2rem;

        .button-menu {
            right: 3rem;
            top: 1.8rem;
        }
    }

}
