.main-navigation {
	position: fixed;

	width: 100%;
	height: $navbar-height;
	padding: $navbar-spacing;
	
	top: 0;
	left: 0;
	right: 0;

	z-index: 2;

	@include v-align;
}
.main-navigation__background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	transform: translateY(-100%);
	opacity: 0;
	background-color: $color-black;
	transition: opacity 0.15s 0.05s, transform 0.2s ease-out;
	z-index: -1;
}

.main-navigation__logo {
	height: 100%;
	margin-right: 1rem;

	svg {
		height: 100%;
		width: auto;
		fill: $color-text-light;
	}
}

.main-navigation__items {
}

.main-navigation__item {
	margin: 0 0.45rem;
}

.main-navigation__link {
	color: $color-text-light;
	font-size: 1rem;
	text-decoration: none;
}

.main-navigation.is-fixed .main-navigation__background {
	opacity: 1;
	transform: translateY(0%);
	// background: linear-gradient(to bottom, black 94%, transparent 100%);
}