.main-navigation {
	position: fixed;

	width: 100%;
	height: $navbar-height;
	padding: $navbar-spacing;
	
	top: 0;
	left: 0;
	right: 0;

	z-index: 2;

	@include v-align;
	transition: background 0.2s ease-out;
}

.main-navigation__logo {
	height: 100%;
	margin-right: 1rem;

	svg {
		height: 100%;
		width: auto;
		fill: $color-text-light;
	}
}

.main-navigation__items {
}

.main-navigation__item {
	margin: 0 0.45rem;
}

.main-navigation__link {
	color: $color-text-light;
	font-size: 1rem;
	text-decoration: none;
}

.main-navigation.is-fixed {
	transition: background 0.2s ease-in;
	background: $color-black;
	// background: linear-gradient(to bottom, black 94%, transparent 100%);
}