.navigation {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 3rem;
	background-color: #dedede;
	@include v-align;
}

.navigation__item {
	display: inline-block;
	margin: 0 0.4rem;
	color: #232323;
	text-decoration: none;
	font-size: 1rem;
}