.showreel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: $z-index-base;
}

.showreel__slides,
.showreel__slide {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.showreel__slide {
    //defaults
    opacity: 0;
    visibility: hidden;
    // transform: translateX(-100%);
}
