

.showreel-slide-header {
    position: absolute;
    width: auto;

    bottom: 0rem;
    right: 0rem;
    padding: 2.5rem;
    text-align: right;
    display: inline-block;
    // color: $color-white;

    text-shadow: -1px 2px 2px rgba(0,0,0,0.4);
}

.showreel-slide-header__content {
    position: relative;
    display: inline;
}

// .showreel-slide-header__background {
//     position: absolute;
//     right: 0;
//     top: 0;
//     width: 53%;
//     height: 100%;
//     background-color: black;
//     clip-path: polygon(10% 10%, 100% 10%, 90% 90%, 0% 90%)
// }

.showreel-slide-header__title {
    display: inline-block;
    width: 51%;
    margin: 0;
    margin-bottom: 1.5rem;

    @include text-rendering;
    @include font-primary;
    letter-spacing: 0.05em;
    font-size: 4rem;
}

.showreel-slide-header__excerpt {
    display: inline-block;
    max-width: 50%;

    @include font-secondary;
    @include text-rendering;
    font-size: 1.2rem;
    line-height: 1.2em;
}


@include break-regular {
    .showreel-slide-header {
        bottom: 2.8rem;
        left: 3rem;
        right: auto;
        text-align: left;
    }

    .showreel-slide-header__title {
        margin-bottom: 2rem;
        font-size: 7.2rem;
        margin-left: -0.04em;
        display: block;
    }

    .showreel-slide-header__excerpt {
        max-width: 18rem;
        font-size: 1.5rem;
    }
}
