.social-link {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border: 1px solid $color-text-light;
	color: $color-text-light;
	text-align: center;
	text-decoration: none;
	@include v-align;

	margin: 0 0.3rem;
}

.social-link__icon {
	vertical-align: middle;
	fill: white;
	width: 1rem;
}