.interview-article {
	padding: 3rem 1rem 0;
	max-width: 60rem;
	margin: 0 auto;

	section {
		width: 100%;
		margin: 0 auto;
	}

	@include break-wide {
		padding-top: 3rem;
	}
}

.interview-article__content {
	font-size: 1.2rem;
	color: white;
}

.interview-article__portfolio {
    font-size: 1.3rem;
    text-transform: uppercase;

    margin-bottom: 5rem;
}
