.articles {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 0;
    color: rgba($color-ivory, 0.8);
}

.article-excerpt {
    position: relative;
    width: 100%;
    font-size: 0;
    margin-bottom: 10rem;

    // border: 1px solid rgba($color-ivory, 0.3);
    display: flex;

    // transition: transform 0.38s ease-out;

    &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        width: 80%;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        .article-excerpt__image {
            margin-right: 0;
        }
    }

    &:hover {

        .article-excerpt__title,
        .article-excerpt__copy {
            opacity: 1;
        }

    }

    //defaults
    opacity: 0;
}

.article-excerpt__image {
    position: relative;
    width: 30%;
    display: block;

    margin-right: 2rem;

    // clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
    // transition: clip-path 0.1s linear;

    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.article-excerpt__header {
    padding: 2rem 4rem 2rem 2rem;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.article-excerpt__title,
.article-excerpt__copy {
    transition: opacity 0.3s;
    color: $color-ivory;
    opacity: 0.8;
}

.article-excerpt__title {
    @include font-primary;
    @include text-rendering;
    margin: 0;
    margin-bottom: 2.6rem;
    font-size: 4.7rem;
}

.article-excerpt__copy {
    @include font-secondary;
    @include text-rendering;
    font-size: 2rem;
    margin-bottom: 3rem;
}
