@include break-narrow {
    .mobile-only {
        display: none;
    }
}

@include break-wide {
    .narrow-only {
        display: none;
    }
}

@media (max-width: 1280px) {
    .wide-only {
        display: none;
    }
}

@media (min-width: 2048px) {
    html {
        font-size: 18px;
    }
}
