@media (min-width: $breakpoint-extra-wide) {
    .not-extra-wide,
    .not-desktop {
        display: none;
    }
}

@media (min-width: $breakpoint-wide) and (max-width: $breakpoint-extra-wide - 1px) {
    .not-wide,
    .not-desktop {
        display: none;
    }
}

@media (min-width: $breakpoint-narrow) and (max-width: $breakpoint-wide - 1px) {
    .not-narrow,
    .not-mobile {
        display: none;
    }
}

@media (max-width: $breakpoint-narrow - 1px) {
    .not-extra-narrow,
    .not-mobile {
        display: none;
    }
}



@media (min-width: 2048px) {
    html {
        font-size: 18px;
    }
}
