html, body, #seventyonepictures, #main-region {
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: black;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.button {
	outline: none;
	border: none;
	cursor: hand;
	cursor: pointer;
}

#main-region {
	position: relative;
}

#seventyonepictures {
	@include font-primary();
	@include text-rendering();
	
	line-height: initial;
}