html, body, #seventyonepictures, #main-region {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $color-black;
}

*, *:after, *:before {
    box-sizing: border-box;
}

#seventyonepictures {
    @include font-primary();
    line-height: 1;
}
