$breakpoint-extra-wide: 1440px;
$breakpoint-wide: 1024px;
$breakpoint-regular: 768px;
$breakpoint-narrow: 320px;


@mixin break-extra-wide {
    @media (min-width: $breakpoint-wide) {
        @content;
    }
}

@mixin break-wide {
    @media (min-width: $breakpoint-wide) {
        @content;
    }
}

@mixin break-regular {
    @media (min-width: $breakpoint-regular) {
        @content;
    }
}

@mixin break-narrow {
    @media (min-width: $breakpoint-narrow) {
        @content;
    }
}

@mixin break-extra-narrow {
    @media (max-width: $breakpoint-narrow) {
        @content;
    }
}

