@mixin text-rendering() {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@mixin v-align {
	font-size: 0;
	&:before {
		content: '';
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}