@mixin text-rendering() {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

@mixin v-align {
    font-size: 0;
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
}

@mixin box-rgba-top-left {
    box-shadow: -1px -1px 0 rgba(255, 0, 0, 0.333), 1px -1px 0 rgba(0, 128, 0, 0.333), -1px 1px 0 rgba(0, 0, 255, 0.333);
}

@mixin box-rgba-bottom-right {
    box-shadow: 1px -1px 0 rgba(255, 0, 0, 0.333), 1px -1px 0 rgba(0, 128, 0, 0.333), -1px 1px 0 rgba(0, 0, 255, 0.333);
}

@mixin text-rgba-top-left {
    text-shadow: -1px -1px 0 rgba(255, 0, 0, 0.333), 1px -1px 0 rgba(0, 128, 0, 0.333), -1px 1px 0 rgba(0, 0, 255, 0.333);
}

@mixin text-rgba-bottom-right {
    text-shadow: 1px -1px 0 rgba(255, 0, 0, 0.333), 1px -1px 0 rgba(0, 128, 0, 0.333), -1px 1px 0 rgba(0, 0, 255, 0.333);
}
