.page-about {
	padding: 16rem 0 10rem;
	font-size: 0;
	margin-top: 83vh;
}

.page-about__title {
	@include font-title();
	color: white;
	font-size: 7rem;

	letter-spacing: 0.3rem;
   
    margin: 0;
}

.page-about__intro-block {
	padding-top: 2rem;
}

.page-about__poster {
	display: inline-block;
	max-height: 90vh;
	max-width: 100%;
	margin-right: 2rem;
}

.page-about__intro {
	width: 100%;
	margin: 4rem 0;
	border-radius: 1px;

	max-width: 36rem;
	min-width: 10rem;
	padding: 2.7rem 2.5rem;

	font-size: 1rem;
	background-color: #F36034;

	display: inline-block;
	vertical-align: top;
}

.page-about__carousel {
	color: white;
	
	.block-title {
		padding-top: 1rem;
	}

	.carousel__slide {
		height: calc(100vh - 4.625rem);
	}
}

@media (min-width: 1280px) {
	.page-about__intro-block {
		display: flex;
		justify-content: space-around;
    	align-items: flex-start;
    	padding-top: 0;
	}

	.page-about__poster {
		width: 40%;
		margin-top: -7rem;
		order: 2;
	}

	.page-about__title {
		font-size: 12rem;
	}

	.page-about__intro {
		width: 40%;
		order: 1;
		padding: 2.7rem 3.5rem;
	}
}

.about-block,
.about-block--title {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
}

.about-block {
	margin-bottom: 3rem;
}

.about-block--wide {
	margin-bottom: 3rem;

	.block-title {
		padding-left: 2rem;
		margin-bottom: 1rem;
	}
}

@media (min-width: 1280px) {

	.about-block,
	.about-block--title {
		padding-left: 6rem;
		padding-right: 6rem;
	}
	.about-block {
		margin-bottom: 6rem;
	}

	.about-block--wide {
		margin-bottom: 3rem;

		.block-title {
			padding-left: 6rem;
			margin-bottom: 2rem;
		}
	}
}
