.page-articles {

	padding-top: 5rem;

	.page__title {
		font-size: 2.4rem;
		margin-bottom: 1.4rem;
		margin-left: 0.2rem;
	}

	
	@include break-narrow {
		.page__header {
			padding: 0 2rem;
			// max-width: 60rem;
		}
	}	

	@include break-wide {	

		padding-top: 15rem;

		.page__title {
			font-size: 6rem;
			margin-bottom: 4rem;
			width: 100%;
			text-align: center;
		}
	}

}