.page-ntsc__intro-block {
	font-size: 0;
}

.page-ntsc__title {
	position: relative;
	
	//defaults:
	opacity: 0;
}


.page-ntsc__poster {
	max-width: 60%;
	width: 60%;
	display: inline-block;

	//defaults:
	opacity: 0;
}

.page-ntsc__intro {
	margin: 4rem 0;
	border-radius: 1px;

	max-width: 40rem;
	min-width: 10rem;
	padding: 2.7rem 2.5rem;

	color: $color-white;
	line-height: 1.6em;
	font-size: 1rem;
	letter-spacing: 0.03em;
	display: inline-block;
	vertical-align: top;

	//defaults:
	opacity: 0;
}

.page-ntsc__carousel {
	color: white;
	
	.block-title {
		padding-top: 1rem;
	}

	.carousel__slide {
		height: 100vh;
	}

	.carousel--with-title .carousel__slide {
		height: calc(100vh - 4.625rem);
	}
}

@include break-wide {
	.page-ntsc__intro-block {
		@include v-align;
	}

	.page-ntsc__poster {
		width: 40%;
		margin-left: 5%;
		margin-top: -7rem;
		vertical-align: middle;
	}

	.page-ntsc__intro {
		width: 50%;
		padding: 2.7rem 6%;
		margin-top: 3rem;
		vertical-align: middle;
	}
}