.page-ntsc {
	padding-top: 0;
}

.page-ntsc__intro-block {
	font-size: 0;
}

.page-ntsc__poster-wrapper {
	position: relative;
	height: 18rem;
	margin-bottom: -3rem;
	overflow: hidden;
}

.page-ntsc__poster-shadow-bottom,
.page-ntsc__poster-shadow-top {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	box-shadow: inset 0 -1.3rem 1.5rem -0.3rem black;
}

.page-ntsc__poster-shadow-top {
	top: 0;
	bottom: auto;
	box-shadow: inset 0 1.3rem 1.5rem -0.3rem black;
}

.page-ntsc__poster {
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
	top: 0;
	margin-top: -50%;
}

.page-ntsc__intro {
	margin: 4rem 0;
	
	display: block;
	margin: 0 auto;
	min-width: 10rem;
	padding: 2.7rem 1.2rem;

	color: $color-text-light;
	line-height: 1.6em;
	font-size: 1rem;
	letter-spacing: 0.03em;
	vertical-align: top;
	
	//defaults:
	& > * {
		opacity: 0;
	}
}

.page-ntsc__carousel {
	color: $color-text-light;
	
	.block-title {
		padding-top: 1rem;
	}

	.carousel__slide {
		height: calc(100vh - #{$navbar-height});
	}

	.carousel--with-title .carousel__slide {
		height: calc(100vh - #{$navbar-height + 4.625rem});
	}

	//defaults
	opacity: 0;
}

@include break-narrow {
	.page-ntsc__intro {
		padding: 2.7rem 2.5rem;
	}
}

@include break-wide {
	.page-ntsc {
		padding-top: 15rem;
	}

	.page-ntsc__intro-block {
		@include v-align;
		margin-bottom: 10rem;
	}
	
	.page-ntsc__poster {
		position: relative;
		top: auto;
		right: auto;
		display: inline-block;
		width: 40%;
		margin-left: 5%;
		margin-top: -7rem;
		vertical-align: middle;
		padding: 3rem;

		//defaults:
		opacity: 0;
	}

	.page-ntsc__intro {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
}