.page-ntsc__intro-block {
	font-size: 0;
}

.page-ntsc__poster {
	display: block;
	width: 100%;
	max-width: 60%;
	width: 60%;
	margin: 0 auto;
	//defaults:
	opacity: 0;
}

.page-ntsc__intro {
	margin: 4rem 0;
	border-radius: 1px;
	
	display: block;
	margin: 0 auto;
	min-width: 10rem;
	padding: 2.7rem 2.5rem;

	color: $color-white;
	line-height: 1.6em;
	font-size: 1rem;
	letter-spacing: 0.03em;
	vertical-align: top;
	
	//defaults:
	& > * {
		opacity: 0;
	}
}

.page-ntsc__carousel {
	color: white;
	
	.block-title {
		padding-top: 1rem;
	}

	.carousel__slide {
		height: 100vh;
	}

	.carousel--with-title .carousel__slide {
		height: calc(100vh - 4.625rem);
	}

	//defaults
	opacity: 0;
}

@include break-narrow {
	.page-ntsc__intro-block {
		@include v-align;
		margin-bottom: 10rem;
	}

	.page-ntsc__poster {
		display: inline-block;
		width: 40%;
		margin-left: 5%;
		margin-top: -7rem;
		vertical-align: middle;
	}

	.page-ntsc__intro {
		display: inline-block;
		width: 50%;
		padding: 2.7rem 5%;
		margin-top: -1rem;
		vertical-align: middle;
	}
}