.page {
	padding: 13rem 0 0;
	margin: 0 auto;
	font-size: 0;
	background-color: black;
}

.page__title {
	@extend .title; 

	font-size: 7rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	line-height: 1em;

	//defaults
	opacity: 0;
}

.page__subtitle {
	@extend .title;
	@include font-secondary();
	margin-top: 1rem;
	margin-left: 2rem;
	
	//defaults
	opacity: 0;
}

.page__header {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	margin-bottom: 3rem;
	max-width: 1280px;
	margin: 0 auto;
}

@include break-wide {
	.page {
		padding: 10vh 0;
		// max-width: 1280px;
		// margin: 0 auto;
	}

	.page__title {
		font-size: 12rem;
	}

	.page__header {
	}

}
