.page {
	padding: 16rem 0 10rem;
	margin: 0 auto;
	font-size: 0;
}

.page__title {
	@extend .title; 

	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
   
	font-size: 7rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
}

@include break-wide {
	
	.page__title {
		font-size: 12rem;
	}

}
