.showreel-description {
    width: 100%;
    // padding: 1rem;
    max-width: 460px;
    text-align: right;
    background: rgba($color-port-blue, 0.8);
    padding: 2rem;
}

.showreel-description__title {
    @include font-primary;
    @include text-rendering;
    text-align: left;
    width: 100%;
    max-width: 50rem;

    margin: 0;
    margin-bottom: 4rem;

    // padding: 3rem;

    font-size: 12rem;
    font-weight: lighter;

    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
}

.showreel-description__excerpt {
    @include font-secondary;
    @include text-rendering;
    text-align: left;

    max-width: 60rem;
    font-size: 1.9rem;

    line-height: 1.4em;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.showreel-description__title-content {
    // background:rgba(10, 10, 10, 0.8);
    // height: 80%;
}

.showreel-description__button-explore {
    margin-left: 2rem;
}
