@import 'base/constants.scss';
@import 'base/colors.scss';
@import 'base/breakpoints.scss';
@import 'base/scale.scss';

@import 'base/mixins.scss';

@import 'base/fonts.scss';
@import 'base/base.scss';
@import 'base/typography.scss';

@import 'icons/play.scss';

@import 'components/main-navigation.scss';
@import 'components/action-bar.scss';
@import 'components/articles.scss';

@import 'components/carousel.scss';
@import 'components/button-trailer.scss';
@import 'components/title-appear.scss';
@import 'components/background.scss';
@import 'components/cover.scss';
@import 'components/social-link.scss';

@import 'components/parallax-poster.scss';
@import 'components/articles-selector.scss';

@import 'pages/page.scss';
@import 'pages/ntsc.scss';
@import 'pages/about.scss';
@import 'pages/articles.scss';
@import 'pages/article.scss';

@import 'articles/project.scss';
@import 'articles/blog.scss';
@import 'articles/interview.scss';

@import 'base/adapt.scss';
