.visuals-entry {
    width: 100%;
    position: relative;
}

.visuals-entry__image-wrapper {
    height: 0;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.visuals-entry__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.6);

    opacity: 0;
    transition: opacity 0.4s;

    padding: 3rem;
}

.visuals-entry__title {
    @include font-primary;
    @include text-rendering;
    display: inline-block;
    font-weight: bold;
    font-size: 3rem;
    // text-align: right;
    background: $color-ivory;
    line-height: 1.3em;
    color: $color-black;
}

.visuals-entry__description {
    @include font-secondary;
    @include text-rendering;
    position: absolute;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    font-weight: bold;
    font-size: 2rem;

    span {
        background: $color-ivory;
        line-height: 1.3em;
        color: $color-black;
    }
}

.visuals-entry:hover {
    .visuals-entry__content {
        opacity: 1;
    }
}

